In [1]:
import pandas as pd
import collections

In [20]:
def createName(args):
    env_name = args.pop("env_name")

    exp_name = ""
    for key, value in args.items():
        exp_name += f"{key}_{value}-"
    exp_name = exp_name[:-1]
    return exp_name

def createExperiment(env_name='LunarLander-v3', hidden_sizes=[64, 64],
            policy_lr=1e-3, value_net_lr=1e-3,
            epochs=50, batch_size=4, buffer_size=5000,
            algo: str="REWARD_TO_GO"):
    #exp_name = createName(dict(locals()))
    return collections.OrderedDict(sorted(locals().items()))

In [21]:
# Compare preformance of different algorithms

experiments=[]

env_name = "LunarLander-v2"  # Discrete action space
experiments.append(createExperiment(
    env_name = env_name,
    algo     = "VANILLA")
)
experiments.append(createExperiment(
    env_name = env_name,
    algo     = "REWARD_TO_GO")
)


env_name = "BipedalWalker-v3" # Continuous action space
experiments.append(createExperiment(
    env_name = env_name,
    algo     = "VANILLA")
)
experiments.append(createExperiment(
    env_name = env_name,
    algo     = "REWARD_TO_GO")
)

In [22]:
df = pd.DataFrame(experiments)

In [23]:
df

,algo,batch_size,buffer_size,env_name,epochs,hidden_sizes,policy_lr,value_net_lr
0,VANILLA,4,5000,LunarLander-v2,50,"[64, 64]",0.001,0.001
1,REWARD_TO_GO,4,5000,LunarLander-v2,50,"[64, 64]",0.001,0.001
2,VANILLA,4,5000,BipedalWalker-v3,50,"[64, 64]",0.001,0.001
3,REWARD_TO_GO,4,5000,BipedalWalker-v3,50,"[64, 64]",0.001,0.001

In [24]:
df.to_json("../runs/compare_algo.json")

In [38]:
def is_unique(s: pd.Series):
    it = iter(s)
    value = next(it)
    for v in it:
        if v != value:
            return False
    return True


for col in df:
    if not is_unique(df[col]):
        print(col)

algo
env_name